<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <tbody>
                <td>
                    <span th:if="${competence_profile == null}">
                        <h1>
                            <td th:text="#{txt.welcome} "></td>
                            <td th:text="#{txt.apply}"></td>
                        </h1>
                        <form method="POST" action="/loginAttempt">
                            <span th:text="#{txt.expertise}" /> <input type="text" name="expertise" id="expertise"><br>
                            <span th:text="#{txt.yearOfExperience}" /> <input type="text" name="experience" id="experience"><br>
                            <span th:text="#{txt.timePeriod}" /> <input type="text" name="experience" id="experience"><br>
                            <input type="hidden" name="apply" value="apply">
                            <input type="submit" value="apply">
                        </form>
                    </span>
                    <span th:if="${competence_profile == null}">
                        <h1>
                            <td th:text="#{txt.applied}"></td>
                        </h1>
                    </span>
                </td>      
            </tbody>
    </body>
</html>
